In [77]:
import pandas as pd
train = pd.read_table("train.csv",sep=",")

y = train.Survived
X = train.drop(['Survived','Name','Sex','Cabin','Embarked','Ticket'],axis=1)
X = X.fillna(29)

from sklearn.ensemble import RandomForestClassifier
regr = RandomForestClassifier(n_estimators=100, criterion='gini', max_depth=None, min_samples_split=2,
                              min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', 
                              max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, 
                              bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, 
                              warm_start=False, class_weight=None)
regr.fit(X, y)
predictions = regr.predict(X)

from sklearn.metrics import r2_score
score=r2_score(train.Survived,predictions)
print(score)

1.0

In [78]:
tst = pd.read_csv("test.csv")
tst = tst.drop(['Name','Sex','Cabin','Embarked','Ticket'],axis=1)
tst = tst.fillna(29)
df = regr.predict(tst)
sub.Survived = df
sub.to_csv('rf1.csv',index=False)
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]