In [1]:
import pandas as pd
train = pd.read_table("train.csv",sep=",")

y = train.RMSD
X = train.drop(['RMSD'],axis=1)

from sklearn.ensemble import ExtraTreesRegressor
regr = ExtraTreesRegressor(n_estimators=2000, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=False, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)
regr.fit(X, y)

tst = pd.read_csv("test.csv")
predictions = regr.predict(X)

from sklearn.metrics import r2_score
score=r2_score(train.RMSD,predictions)
print(score)

0.9994174377062963

In [2]:
predictions

array([17.284,  6.021,  9.275, ...,  1.428, 20.754,  6.23 ])

In [3]:
y

0        17.284
1         6.021
2         9.275
3        15.851
4         7.962
          ...
29996     2.591
29997     1.034
29998     1.428
29999    20.754
30000     6.230
Name: RMSD, Length: 30001, dtype: float64

In [4]:
sub = pd.read_csv('./sample_submission.csv')
df = regr.predict(pd.read_csv("test.csv"))
sub.RMSD = df
sub.to_csv('etpredict1.csv',index=False)
sub

          ID       RMSD
0      30001  10.540536
1      30002   3.598163
2      30003  15.988596
3      30004  14.971923
4      30005  10.524898
...      ...        ...
15724  45725  13.933496
15725  45726   7.735601
15726  45727  10.356000
15727  45728  12.632825
15728  45729  13.171726

[15729 rows x 2 columns]

In [ ]:
sub2=sub
sub2

In [5]:
sub1 = pd.read_csv('./etpredict0.csv')

In [6]:
sub1

          ID       RMSD
0      30001  10.554429
1      30002   3.740896
2      30003  16.061461
3      30004  15.102945
4      30005  10.663234
...      ...        ...
15724  45725  13.890986
15725  45726   7.838571
15726  45727  10.356000
15727  45728  12.794635
15728  45729  13.208722

[15729 rows x 2 columns]